.modal-button-display {
  margin: 2rem;
}

.close {
  font-size: 4rem;
  margin-left: 1.7rem;
}

.close:hover,
.close:focus {
  color: var(--main-logo-color);
  text-decoration: none;
  cursor: pointer;
}

.popModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 40%;
  top: 0%;
  background-color: var(--font-color-special);
  margin: 15% auto;
  padding: 20px;
  border: 0.6rem solid var(--charcoal-black);
  width: 30%;
  border-radius: 0.5rem;
}

.underline {
  text-decoration: underline;
}
